# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# Databases
*.db
*.sqlite
*.sqlite3

# Node
node_modules/

# OS
.DS_Store

# IDE
.idea/
.vscode/
*.swp
*.swo
